* {
    margin: 0px;
    padding: 0px;
}

/*start css code for header section or first section*/
.container {
    width: 1140px;
    margin: 0 auto;

}

section {
    width: 100%;
    float: left;
    background-color: #993c8fbf;
    padding: 25px 0px;
}



.header-left {
    width: 40%;
    float: left;
}

.header-left img {}

.header-right {
    width: 60%;
    float: left;

}

nav ul {
    list-style: none;
}

nav ul li {

    display: inline-block;
    margin: 12px 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}



.work {

    width: 550px;

    margin: 0 auto;

    text-align: center;

    padding-top: 118px;

    padding-bottom: 100px;
}

.work h1 {

    color: #fff;

    font-size: 28px;

    text-align: center;
}

.work button {

    background: coral;

    margin-top: 15px;

    padding: 6px 20px;

    border: none;

    color: #fff;

    text-transform: uppercase;

    box-shadow: 0px 5px rgba(0, 0, 0, 0.3);

    cursor: pointer;
}

.work button:hover {
    color: black;
    transition: 0.8s ease;
    background: white;
}

/*end css code for header section or first section*/


/*service css strt*/

.service {

    width: 100%;

    float: left;

    background-color: #0b9bafbf;

    padding: 25px 0px;
}

.service-title {

    margin: 0 auto;

    width: 550px;

    text-align: center;
}

.service-title h2 {

    text-transform: uppercase;

    margin: 10px 0px;
}

.service-title span {

border-bottom: 4px solid #161616;

display: block;

width: 70px;

margin: 14px auto;
}

.service-title p {
    /* text-align: center; */
}

.service-one {

    width: 22%;

    float: left;

    text-align: center;

    margin: 0px 17px;

    padding: 10px 0px;
}

.service-one img {}

.service-one h2 {

    color: #fff;
}

.service-one p {

    color: #fff;

    margin: 10px 0px;
}

.service-two {

    width: 22%;

    float: left;

    text-align: center;

    margin: 0px 17px;

    padding: 10px 0px;
}

.service-two img {}

.service-two h2 {

    color: #fff;
}

.service-two p {

    color: #fff;

    margin: 10px 0px;
}

.service-three {

    width: 22%;

    float: left;

    text-align: center;

    margin: 0px 17px;

    padding: 10px 0px;
}

.service-three img {}

.service-three h2 {

    color: #fff;
}

.service-three p {

    color: #fff;

    margin: 10px 0px;
}

.service-four {

    width: 22%;

    float: left;

    text-align: center;

    margin: 0px 17px;

    padding: 10px 0px;
}

.service-four img {}

.service-four h2 {

    color: #fff;
}

.service-four p {

    color: #fff;

    margin: 10px 0px;
}


/*service css end*/


/*team css start*/

.team {

    width: 100%;

    float: left;

    background-color: #a0b1b3bf;

    padding: 25px 0px;
}

.team-title {

    margin: 0 auto;

    width: 550px;

    text-align: center;
}

.team-title h2 {

    text-transform: uppercase;

    margin: 10px 0px;
}

.team-title span {

    border-bottom: 4px solid #161616;

    display: block;

    width: 70px;

    margin: 6px auto;
}

.team-title p {}

.team-one {

    width: 22%;

    float: left;

    text-align: center;

    margin: 0px 17px;

    padding: 10px 0px;
}

.team-one img {
    width: 120px;
}

.team-one h2 {

    color: #161616;
}

.team-one p {

    color: #161616;

    margin: 10px 0px;
}

.team-two {

    width: 22%;

    float: left;

    text-align: center;

    margin: 0px 17px;

    padding: 10px 0px;
}

.team-two img {
    width: 120px;
}

.team-two h2 {

    color: #161616;
}

.team-two p {

    color: #161616;

    margin: 10px 0px;
}

.team-three {

    width: 22%;

    float: left;

    text-align: center;

    margin: 0px 17px;

    padding: 10px 0px;
}

.team-three img {
    width: 120px;
}

.team-three h2 {

    color: #161616;
}

.team-three p {

    color: #161616;

    margin: 10px 0px;
}

.team-four {

    width: 22%;

    float: left;

    text-align: center;

    margin: 0px 17px;

    padding: 10px 0px;
}

.team-four img {
    width: 120px;
}

.team-four h2 {

    color: #161616;
}

.team-four p {

    color: #161616;

    margin: 10px 0px;
}

.team i {

    color: coral;
    font-size: 22px;
    padding: 2px;
}

.team i:hover {
    color: white;
    cursor: pointer;
    transform: scale(1.3,1.8)
}


/*team css end*/

/*skill start css*/

.skill {

    width: 100%;

    float: left;

    background-color: white;

    padding: 25px 0px;
}

.skill-title {

    margin: 0 auto;

    width: 550px;

    text-align: center;
}

.skill-title h2 {

    text-transform: uppercase;

    margin: 10px 0px;
}

.skill-title span {

    border-bottom: 4px solid #161616;

    display: block;

    width: 70px;

    margin: 6px auto;
}

.skill-title p {
    
}

.skill-one {

    width: 22%;

    float: left;

    text-align: center;

    margin: 0px 17px;

    padding: 10px 0px;
}

.service-one img {
    width: 100px;
}

.skill-one h2 {

    color: #161616;
}



.skill-two {

    width: 22%;

    float: left;

    text-align: center;

    margin: 0px 17px;

    padding: 10px 0px;
}

.skill-two img {
    
}

.skill-two h2 {

    color: #161616;
}



.skill-three {

    width: 22%;

    float: left;

    text-align: center;

    margin: 0px 17px;

    padding: 10px 0px;
}

.skill-three img {
   
}

.skill-three h2 {

    color: #161616;
}



.skill-four {

    width: 22%;

    float: left;

    text-align: center;

    margin: 0px 17px;

    padding: 10px 0px;
}

.service-four img {
    width: 100px;
}

.skill-four h2 {

    color: #161616;
}


/*skill end css*/

/*portfolio start*/

.portfolio{
	width: 100%;
	float: left;
    padding: 25px 0;
    background: #FFDC98;
}
.service-title{

}
.btn-portfolio{
    margin: 26px 14px;
    padding: 12px 15px;
    background: #C8AF79;
    border: none;
    color: white;
    background-color: maroon;
}
.portfolio-item{
    width: 45%;
    float: left;
    text-align: center;
    margin: 0px 20px;
    padding: 12px 0;
}
.portfolio-item h3{
    padding-top: 15px;
    
}
.btn-port{
	width: 50%
	margin: 0 auto;
	text-align: center;
}
.btn.btn-port-main{
    background: #50d2c5;
    box-shadow: 0px 3px #75afa9;
    margin-bottom: 35px;
    border: none;
    color: #fff;
}

/*portfolio end*/

/*testimonial start*/

.testimonial{
	width: 100%;
	float: left;
    padding: 25px 0;
    background: #D74681;
    color: white;
}
.service-title.testimonial-title{

}
.testimonial-items{
    width: 45%;
    float: left;
    margin: 40px 25px 25px 25px;
}
.testimonial-items-img{
    width: 30%;
    float: left;
    margin-right: 25px;
}
.testimonial-items-img img{
    width: 100px;
}
.testimonial-items-content{
    width: 60%;
    float: left;
    padding-top: 20px;
}
.testimonial-items-content p{
    font-family: inherit;
    color: #fff;
    
}
.testimonial-items-content h3{
    margin-top: 10px;
}
.post-testimonial{
    color: yellowgreen;
}



/*testimonial end*/

/*contact start*/

.contact{
    
width: 100%;
    
float: left;
    
padding: 25px 0px;
    
background-color: darkblue;
}

.contact-form{
    
width: 650px;
    
margin: 0 auto;
    
margin-top: 15px;
}
.form-cntrl{
    
width: 45%;
    
float: left;
    
padding: 5px;
    
height: 25px;
    
margin-right: 11px;
}

.cstm-textarea{
    
width: 95.7%;
    
height: 164px;
    
margin-top: 20px;
}
.contact h2,p{
    color: #fff;
}

.teaxarea-btn {
    color: white;
    background-color: aqua;
    box-shadow: 0px 3px #75afa9;
    margin-bottom: 35px;
    border: none;
    width: 150px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

/*contact end*/

/*footer menu start*/
footer {
    background: darkblue;
    width: 100%;
    float: left;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 28px 20px;
}

/*footer menu end*/

i{
    
   padding-top: 20px;
    color: #fff;

}
